#########################################

q1: print

ineuron 

ineuron ineuron 

ineuron ineuron ineuron 

ineuron ineuron ineuron

In [11]:
s,i,t='iNeuron',1,' '*4
while i <=3:
    p=(s + t)*i
    print (p)
    i +=1
else:
    print (p)

iNeuron
iNeuron    iNeuron
iNeuron    iNeuron    iNeuron
iNeuron    iNeuron    iNeuron

#########################################

Q2: PRINT

                    ineuron 

            ineuron 	     ineuron 

    ineuron 	    ineuron 	     ineuron 

            ineuron          ineuron 

                    ineuron

In [27]:
#########  Solution 01  #########
s,t,n,l='iNeuron',' '*len(s),3,[]
for i in range(n):
    p=t*(n-i-1)
    j=0
    while j <=i:
        p = p + s + t
        j+=1
    print (p)
    l.append(p)
    print ('')
for i in range(len(l)-2,-1,-1):
    print (l[i])
    print ('')

              iNeuron

       iNeuron       iNeuron

iNeuron       iNeuron       iNeuron

       iNeuron       iNeuron

              iNeuron

In [38]:
#########  Solution 02  #########
s,t,n,l='iNeuron',len(s),3,[]
def ineuron(i):
    p=(s+' '*t)*(i+1)
    p=p.strip().center(t*n*(n-1))
    print (p, '\n'.expandtabs())
    
for i in range(n):
    ineuron(i)
for i in range(n-2,-1,-1):
    ineuron(i)

                 iNeuron

          iNeuron       iNeuron

   iNeuron       iNeuron       iNeuron

          iNeuron       iNeuron

                 iNeuron

In [169]:
l=[[1,2,3,4],  (2,3,4,5,6),  (3,4,5,6,7),  set([23,4,5,45,4,4,5,45,45,4,5]), 
	{"k1":"sudh",  "k2":"ineuron",  "k3":"kumar",  3:6,  7:8},  ["ineuron", "data science "]]

In [52]:
# q3:try to extract all the list entity
for j in [i for i in l if type(i)==list]:
    print (j,end=' ')

[1, 2, 3, 4] ['ineuron', 'data science ']

In [53]:
#q4: try to extract all the dict entity
for j in [i for i in l if type(i)==dict]:
    print (j, end= ' ')

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [54]:
#q5: try to extract all the tuples entity
for j in [i for i in l if type(i)==tuple]:
    print (j, end=' ')

(2, 3, 4, 5, 6) (3, 4, 5, 6, 7)

In [151]:
#q6: try to extract all the numerical data it may be a part of dict key and values
def mergedict(*args):
    o = {}
    for arg in args[0]:
        o.update(arg)
    return o
m=[i for i in l if type(i)==dict]
m=mergedict(m) # converts list to dictionary and also merges dictionaries if there multiple of them within the list
m=list(m.keys()) + list(m.values())
m=[i for i in m if str(i).isnumeric()]
print(m)

[3, 7, 6, 8]

In [173]:
#q15: Try to unwrap all the collection inside collection and create a flat list
l=[[1,2,3,4],  (2,3,4,5,6),  (3,4,5,6,7),  set([23,4,5,45,4,4,5,45,45,4,5]), 
	{"k1":"sudh",  "k2":"ineuron",  "k3":"kumar",  3:6,  7:8},  ["ineuron", "data science "]]
c=0
m=[]
l1=l+[]

def flattern(i):
    if type(i) in (int, str, bool, float, complex):
        m.append(i)
    elif type(i) in (list, set, tuple):
        m.extend(i)
    elif type(i) == dict:
        for j in i.items():
            m.extend(j)
    else:
        return i


while len(l1)>0 and c<10:
    r=l1.pop(0)
    s=flattern(r)
    if type(s) in (list, tuple, set, dict):
        l1.append()
    c+=1
flat_list=m 
print(flat_list)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 3, 6, 7, 8, 'ineuron', 'data science ']

In [167]:
#q7: try to give summation of all the numeric data
sum_num=0.0
for i in [x for x in flat_list if type(x) in (int, float, complex)]:
    sum_num+=i
print(sum_num)

156.0

In [179]:
#q8: try to filter out all the odd values out all numeric data which is part of a list
[x for x in flat_list if type(x) in (int, float, complex) if x%2==0]

[2, 4, 2, 4, 6, 4, 6, 4, 6, 8]

In [180]:
#q9: try to extract 'ineuron' out of this data
[x for x in flat_list if x=='ineuron']

['ineuron', 'ineuron']

In [187]:
#q10: try to find out a number of occurances of all the data
set_flat = set(flat_list)
for i in set_flat:
    print(i, ' '*(14-len(str(i))), ":  ",  flat_list.count(i))

1               :   1
2               :   2
3               :   4
4               :   4
5               :   3
6               :   3
7               :   2
k2              :   1
kumar           :   1
ineuron         :   2
8               :   1
data science    :   1
45              :   1
sudh            :   1
23              :   1
k3              :   1
k1              :   1

In [193]:
#q11: Try to find out number of keys in dict element
for j in [i for i in l if type(i) is dict]:
    print(len(j.keys()))

5

In [194]:
#q12: Try to filter out all the string data
[i for i in flat_list if type(i) is str]

['k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 'ineuron', 'data science ']

In [197]:
#q13: Try to Find out alphanum in data
[i for i in flat_list if type(i) is str if i.isalnum()]

['k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 'ineuron']

In [201]:
#q14: Try to find out multiplication of all numeric value in the individual collection inside dataset
m=[]
for i in l:
    if type(i) in (list, tuple, set, dict):
        if type(i)==dict:
            i=list(i.keys())+list(i.values())
        a=None
        for j in i:
            if type(j) in (int, float, complex):
                if a==None:
                    a=1
                a*=j
        m.append(a)

print(m)

[24, 720, 2520, 20700, 1008, None]